   :root {
     --bleu: #496577;
     --rose: #ECB5B6;
     --jaune: #F3F0B9;
     --marron: #957978;
     --vert: #BCD7B3;
    --ciel: #f0f8ff;
   }

   body {
     margin: 0;
     font-family: "akzidenz-grotesk-next-extend", Arial, sans-serif;
     background: #fafafa;
     color: var(--bleu);
   }

   header {
     width: 100%;
     display: grid;
     justify-content: center;
     background-color: var(--ciel);
     /* grid-template-columns: repeat(6, 1fr);*/
     grid-template-columns: minmax(20px, auto) 1fr 1fr;
     align-items: center;
     position: fixed;
     padding: 22px 0px 5px;
     -webkit-backdrop-filter: blur(20px);
     backdrop-filter: blur(20px);
   }

   .logo-agence {
     grid-column: 1 / span 1;
     padding-left: 25%;
   }

   nav {
    display: grid;
    grid-column: 5 / span 4;
    justify-content: space-around;
    padding-right: 30px;
   }

   header {
    /* background-color: var(--bleu);*/
  background-color: #49657700;

   }

    footer {background-color: #496577}

   section {
     padding: 10px;
   }

   nav li {
     display: flex;
     justify-content: center;
     list-style-type: none;
   }

   nav ul {
     list-style: none;
     padding: 0;
     margin: 0;
   }

   nav a {
     height: 100%;
     text-decoration: none;
     display: flex;
     align-items: center;
   /*color: white;*/
     color: var(--bleu);
   font-size: 18px;
   font-weight: 300;
   padding: 10px 15px;
   transition: 0.5s;
   }

   nav a:hover {
      /*  background-color: rgb(255, 255, 255);  color: var(--bleu);*/
      background-color: var(--bleu);
     color: white;
     padding: 10px 15px;
     border-radius: 2px;
   }

   /* les items*/
   .item {
     padding: 0;
     grid-column: span 6;
   }

   .item-type-a {
     padding-top: 15%;
     background-color: pink;
   }

   .item-type-b {
     padding-top: 45%;
     background-color: #93b4e1;
     color: white;
     padding: 10px 45px
   }

   .item-type-img {
     background-color: var(--vert);
     color: white;
     display: grid;
     align-items: center;
   }

   .item-inner {
     padding: 25px 0;
     background-color: black;
     color: white;
     grid-column: span 3;
   }

   .item-type-header {
     grid-column: 2 /span 2;
   }


   .svg-container {
     width: auto;
     max-height: 570px;
     /* resize: both;
    overflow: auto;*/

     display: grid;
     align-items: center;
   }

   svg {
     width: 100%;
     height: 100%;
   }

   /* les containers*/


   .container-header {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: 65vh 30vh;
     grid-gap: 5px;
     background-color: var(--ciel);
     color: var(--bleu);
     padding-top: 5%;
     justify-items: center;
     text-align: center;
     padding-top: 100px;
   }

   .container-main {
     display: grid;
     grid-template-columns: repeat(6, 1fr);
     /* grid-gap: 5px;*/
   }

   .container-inner {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 10px;
   }

   .container-nav {
     display: flex;
     grid-gap: 5px;
     flex-direction: row;
     align-items: center;
     justify-content: end;
   }


   .container-main-about {
     display: grid;
     grid-template-columns: repeat(14, 1fr);
     grid-template-rows: 130px auto auto auto 1fr;
     background-color: #f0f8ff;
     gap: 20px;
   }

    .item-title-about{   
    grid-column:  2/ span 12;
    grid-row: 2 ;
    }

   .img-about {
     grid-column: 3 / span 4;
     grid-row: 3 ;
     
   }

   .item-type-about {
     grid-column: 7 / span 6;
     grid-row: 3 ;
 
   }

     .img-projet{grid-column: 2 / span 6; 
    grid-row: 3 ;}

   .item-projet{ grid-column: 2 / span 5; 
    grid-row: 4 ;}

  

   .sidebar {
     position: fixed;
     top: 0;
     right: 0;
     height: 100vh;
     z-index: 999;
     background-color: #3582b2f1;
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     color: whitesmoke;
     display: none;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-start;
     padding: 10px 0px 10px
   }




   footer {
     display: grid;
     padding: 20px 0px 25px 0px;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     justify-items: center;
     align-items: center;
     color: white;
     font-weight: 300;
   }

   h1 {
     font-family: operetta-12, serif;
     font-size: 110px;
     color: var(--bleu);
     line-height: 1.1;
     text-align: center;
     font-weight: 900;
   }

   h2 {
     font-family: operetta-12, serif;
     font-size: 42px;
     font-weight: 900;
     line-height: 1.2;
   }

   p {
     font-size: 20px;
     font-weight: 200;
   }

.h2__about {   padding: 0;
  margin: 0;  
  font-family: operetta-12, serif;
     font-size: 130px;
     font-weight: 800;
     line-height: 1.1;
     margin-bottom: 10px;

   }
   .p__about {
     font-size: 18px;
     font-weight: 300;
     text-align: left;
     line-height: 1.6;
         margin-top: 0;
   }


   #comp-4,
   #comp-1 {
     background-color: #F3F0B9;
   }


   @media screen and (max-width: 650px) {

     /*mobile*/
     body {
       width: 100%;
       margin: 0 auto;
     }

     .container-nav {
       display: flex;
       grid-gap: 5px;
       flex-direction: row;
       align-items: center;
       justify-content: end;
     }

     .item-type-b {
       grid-column: span 6;
     }

     .item-inner {
       grid-column: span 1;
     }

     header {
       align-items: center
     }

  .item-title-about{   
    grid-column:  2 / span 12;
     grid-row: 2 ;}

       .img-about {
     grid-column: 2 / span 12;  
   }

   .item-type-about {
     grid-column: 2 / span 12;
grid-row: 4 ;
padding: 0px 5px;
   }
    
   .item-projet{ grid-column: span 12; }

     .sidebar {
       width: 100%;
       backdrop-filter: blur(5px);
       -webkit-backdrop-filter: blur(5px);
       padding-left: 10px;
     }

     .sidebar li {
       padding: 12px 30px;
       align-items: center;
     }

     .menu-button {
       display: block;
       stroke-linecap: round;
       fill: white;
       stroke: var(--bleu);
     }

     .close a {
       font-size: 15px;
     }

     .hideOnMobile {
       display: none;
     }

     footer {
       display: grid;
       grid-auto-flow: row;
       grid-template-columns: 1fr;
       grid-template-rows: auto;
       justify-items: center;
       color: white;
       font-weight: 300;
       grid-row-start: -1;
     }

     h1 {
       font-family: operetta-12, serif;
       font-size: 60px;
       line-height: 1.1;
       text-align: center;
       font-weight: 900;
     }

     h2 {
       font-family: operetta-12, serif;
       font-size: 40px;
       font-weight: 800;
       line-height: 1.1;
     }

     .h2__about {   
     font-size: 50px;
     font-weight: 800;
     line-height: 1.1;

   }
     p {
       font-size: 17px;
       font-weight: 300;
       text-align: left;
     }

     .p__about {
       font-size: 17px;
       font-weight: 200;
       text-align: left;
       line-height: 1.5;
     }

     #title {
       padding: 60px 20px 0px;
     }

   }

   @media screen and (min-width: 651px) {
     /*desktop*/

     .menu-button {
       display: none
     }

     .show {
       display: block;
     }

     .container-main {
       grid-auto-flow: row;
     }

     .item {
       grid-column: span 3;

     }

     /*.item-type-header{ 
    grid-row: span 2;}*/

     .item-type-b {
       grid-row: span 1;
     }

     .item-inner {
       grid-column: span 3;
     }

   }

      @media screen and (max-width: 450px) {.h2__about{   font-size: 45px;}}


   #row-txt1 {
     background-color: var(--rose);
     color: var(--bleu);
   }

   #row-txt2 {
     background-color: var(--marron);
     color: var(--jaune);
   }

   #row-txt3 {
     background-color: var(--bleu);
     color: var(--rose);
   }


   #txt-about {
     width: 100%;
     top: 100px;
     background-color: #f0f8ff;
     color: var(--bleu);
   }